<launch>
  <node name="trackconeplacer" pkg="track" type="coneplacer" output="screen" />
  <node name="trackgenerator" pkg="track" type="generator" output="screen"/>
  <node name="carcamerasimulator" pkg="car" type="camerasimulator" output="screen"/>
  <node name="cartrackfinder" pkg="car" type="trackfinder" output="screen"/>
  <node name="carcontroller" pkg="car" type="controller" output="screen"/>
  <node name="simulation" pkg="simulation" type="god" output="screen"/>
</launch>